:root {
  --background: rgb(33, 33, 33);
  --foreground: rgb(222, 222, 222);
  --muted-foreground: rgb(181, 181, 181);
  --font-roboto-flex: 'Roboto Flex', 'Roboto Flex Fallback';
  --font-anton: 'Anton', 'Anton Fallback';
  /* --primary-color: rgb(168, 229, 36); */
  --primary-color: rgb(0, 240, 80);
  --primary-foreground: rgb(33, 33, 33);
  --spacing: 0.25rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: var(--font-roboto-flex);
  line-height: 1.6;
  background-color: var(--background);
  color: var(--foreground);
}
h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-family: var(--font-anton);
  text-transform: uppercase;
}

/* ===================== */
/* Area            */
/* ===================== */
main {
  background: linear-gradient(120deg, #0643b5, #15151f, #8800ff);
  background-size: 300% 300%;
  animation: moveGradient 12s ease-in-out infinite;
}

.hero {
  height: 100vh;
  padding-inline: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 10);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 544px;
}
.hero-stats {
  display: flex;
  gap: calc(var(--spacing) * 8);
  text-align: center;
  margin-top: calc(var(--spacing) * 9);
}

/* ===================== */
/* Text                  */
/* ===================== */
.hero-title :nth-child(1) {
  color: var(--primary-color);
}
.hero-title :nth-child(2) {
  margin-left: calc(var(--spacing) * 4);
}

.hero-description {
  margin-top: calc(var(--spacing) * 6);
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--muted-foreground);
}
.hero-description strong {
  color: var(--foreground);
}
.hero-availability {
  margin-top: calc(var(--spacing) * 3);
}

.hero-stats h2 {
  margin-bottom: calc(var(--spacing) * 1.5);

  line-height: 2.5rem;
  font-family: var(--font-anton);
  color: var(--primary-color);
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}
.hero-stats p {
  color: var(--muted-foreground);
}

/* ===================== */
/* Button            */
/* ===================== */
.button--primary {
  margin-top: calc(var(--spacing) * 9);
  padding-inline: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 12);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
  color: var(--primary-foreground);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: var(--font-anton);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  transition: background-color 0.2s ease;
}
.button--primary:hover {
  background-color: white;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 600px) {
  main h1 {
    font-size: 80px;
  }
}
